nav{
    margin-bottom: 20px;
}

table td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}

form div.row{
    margin-bottom: 20px;
}

.row > .card-image > img{
    width: 380px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.alert p{
    margin-bottom: 0;
    margin-top: 0;
}

.card-body{
    height: 80%;
}

.card .game-tag{
    height: 20%;
}

